# Server Configuration
PORT=3000
NODE_ENV=development

# Authentication
JWT_SECRET=asset-manager-secret-key-123
DEFAULT_ADMIN_EMAIL=system@hcc.com
DEFAULT_ADMIN_PASSWORD=Hcc@1122

# Database Configuration (Supabase Postgres)
DATABASE_URL=postgresql://postgres:URjJbCbUxPxen9co@db.bgofttpfyupdnsagkkyd.supabase.co:5432/postgres

# Supabase Client Configuration
VITE_SUPABASE_URL=https://bgofttpfyupdnsagkkyd.supabase.co
VITE_SUPABASE_ANON_KEY=
